.sideBar :hover {
  background-color: blueviolet;
}

* {
  list-style: none;
}

.navt {
  margin-top: 8em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #5500cb;
  overflow-x: auto;
  display: flex;
}
.nav-linkt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-decoration: none;
  color: #444444;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
i {
  font-size: 1.4em;
}

i {
  color: #5500cb;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 820px) {
  .sde {
    display: none;
  }
}

@media (min-width: 820px) {
  .dfe {
    display: none;
  }
}
